<h1>
  {{title}}
</h1>

<div class="pad">

  <div class="texta">
    <textarea rows="3" cols="100">  </textarea>
  </div>

  <div class="texta2"><textarea rows="3" cols="100"> {{numbers}} </textarea></div>

  <table>

    <tr>
      <button (click)="passNum(7)">7</button>
      <button (click)="passNum(8)">8</button>
      <button (click)="passNum(9)">9</button>
      <button (click)="divisor()">/</button>
    </tr>

    <tr>
      <button (click)="passNum(4)">4</button>
      <button (click)="passNum(5)">5</button>
      <button (click)="passNum(6)">6</button>
      <button (click)="multiplier()">*</button>
    </tr>

    <tr>
      <button  (click)="passNum(1)">1</button>
      <button (click)="passNum(2)">2</button>
      <button  (click)="passNum(3)">3</button>
      <button (click)="minus()">-</button>
    </tr>

    <tr>
      <button (click)="passNum(0)">0</button>
      <button (click)="passDot()">.</button>
      <button (click)="clearCall()">CE</button>
      <button (click)="plusEqual()">+=</button>
    </tr>

  </table>

</div>
